.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  background-color: white;
  position: relative;
  max-width: 496px;
  max-height: 436px;
  box-sizing: border-box;
  width: 100%;
  gap: 20px;
  padding-right: 28px;
  padding-left: 28px;
  border-radius: 16px;
  border: 1px rgba(0, 0, 0, 0.3) solid;
}

.modal__content_type_image {
  position: relative;
  padding: 0;
  border-radius: 16px;
  background-color: white;
  max-width: 498px;
  height: 610px;
  box-sizing: border-box;
  width: 100%;
  gap: 20px;
  border-radius: 16px;
  border: 1px rgba(0, 0, 0, 0.3) solid;
  overflow: hidden;
}

.modal__image {
  padding: 0;
 width: 498px;
  height: 498px;
  object-fit: contain;
  overflow: hidden;
  border: 0;
}

.modal__close {
background-image: url(../../assets/close.svg); 
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 28px;
  background-position: center;
  background-size: contain;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer; 
  background-color: transparent;
}


/* .modal__content_type_image .modal__close {
  background-image: url(../../assets/close_preview.svg);
  background-color: transparent;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 28px;
  background-position: center;
  background-size: contain;
  border: none;
  background-repeat: no-repeat;
  padding: 0;
  cursor: pointer;
} */

.modal__title {
  margin: 0;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-top: 28px;
  padding-bottom: 24px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.modal__input {
  display: block;
  border: none;
  border-bottom: solid;
  width: 100%;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  height: 52px;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__legend {
  padding-bottom: 12px;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-height: 108px;
  max-width: 173px;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__submit {
  left: 0;
  max-width: 124px;
  height: 36px;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 36px;
}

.modal__submit-active{
  background: rgba(0, 0, 0, 1);
}

.modal__caption {
  margin: 20px 0 12px 32px;
  font-family: "CabinetGrotesk-Bold";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.modal__weather {
  margin: 0;
  margin-left: 32px;
  font-family: "CabinetGrotesk-Bold";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.modal__delete-click-button {
  font-family: "CabinetGrotesk-Bold";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  background-color: #fff;
  color: #ff4d00;
  /* width: 101px; */
  height: 24px;
  position: absolute;
  bottom: 68px;
  right: 32px;
  cursor: pointer;
}



.modal__content_type_delete {
  position: relative;
  padding: 0;
  border-radius: 16px;
  background-color: white;
  max-width: 670px;
  height: 280px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 16px;
  border: 1px rgba(243, 243, 243, 1) solid;
}

.modal__delete-headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;
  align-items: center;
}

.modal__delete-heading {
  font-family: "CabinetGrotesk-Bold";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: black;
  margin-left: auto;
  align-items: center;
  margin: 0;
}

.modal__delete-buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__delete-item-button {
  font-family: "CabinetGrotesk-Bold";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  background-color: #fff;
  color: #ff4d00;
  cursor: pointer;
}

.modal__delete-cancel-button {
  font-family: "CabinetGrotesk-Bold";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  background-color: #fff;
  color: black;
  cursor: pointer;
}

.modal__login-submit-button{
  width: 73px;
  height: 36px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

 .modal__login-submit-button-active{
   background: rgba(0, 0, 0, 1);
}

.modal__login-register-button {
  width: 79px;
  height: 20px;
  border: none;
  background-color: #fff;
  color: #00000080;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__button-option {
  height: 20px;
  border: none;
  background-color: #fff;
  color: #00000080;
  padding-top: 8px;
  cursor: pointer;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/* .modal__register-submit-button-active{
   background: rgba(0, 0, 0, 1);
}

.modal__register-login-button {

  height: 20px;
  border: none;
  background-color: #fff;
  color: #00000080;
}
 */

