.footer {
  max-width: 1358px;
  padding: 0;
  margin-top: auto;
  
}

.footer__content {
  display: flex;
  justify-content: space-between;
  
}

.footer__name {
  font-family: "CabinetGrotesk-Medium";
  font-size: 16px;
  line-height: 20px;
}

.footer_year {
  font-family: "CabinetGrotesk-Medium";
  font-size: 16px;
  line-height: 20px;
}
